* {
    box-sizing: border-box;
}

section {
    max-width: 90%;
}

nav {
    height: 0px;
    transition: .3s;
    overflow: hidden;
    text-decoration: none;
}

nav ul {
    border-bottom: 0px;
    width: 100%;
}

.klapuit {
    height: 10em;
}

body {
    font-family: "museo-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0px;
}

#filteren {
    background: #99258d;
    color: #FAFAFA;
}

h3 {
    margin: 0px;
}

ul {
    margin: auto;
    list-style: none;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
}

#hamburger {
    font-size: 2em;
}

#hamburger:hover {
    background: none;
    cursor: pointer;
}

main {
    display: grid;
    grid-gap: 1em;
    max-width: 1400px;
    margin: auto;
}

button {
    background: none;
    color: #82207c;
    border: none;
    font-family: "proxima nova", sans-serif;
    font-weight: 700;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

label {
    display: block;
}

button:hover {
    background: rgb(246, 222, 161);
    color: #82207c;
    cursor: pointer;
}

button:active {
    color: rgb(233, 181, 38);
    color: #333333;
}

form {
    background: #FAFAFA;
    max-width: 1fr;
    color: black;
    font-size: 1em;
    width: 98%;
    margin: auto;
}

h1 {
    display: block;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: rgb(33, 49, 49);
    font-size: 2em;
    margin: auto;
}

h2,
h3 {
    color: rgb(33, 49, 49);
}

h2 {
    text-transform: uppercase;
    font-weight: 350;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/*
https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-style: solid;
    border: 1em;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #99258d;
}


article {
    display: inline-block;
    justify-content: center;
    padding: 1em;
    text-align: left;
    width: 100%;
    border-radius: 1px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

article img {
    width: 100%;
    height: 100px;
}

#logo {
    display: none;
}

article:hover {
    outline: solid 5px #99258d;
    cursor: pointer;
    transition: ease-in .08s;
}

.slider {
    -webkit-appearance: none;
    width: 30em;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #99258d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #99258d;
    cursor: pointer;
}


.hidden {
    display: none;
}

.flip {
    width: 25%;
    margin: 0px;
    padding: 5px;
    background: #99258d;
    border-radius: 0;
    color: white;
}

.flip:hover {
    background: #FAFAFA;
    color: rgb(33, 49, 49);
}

nav ul {
    text-transform: uppercase;
}

ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: #99258d;
}

#paars {
    background: #FAFAFA;
    color: rgb(33, 49, 49);
}

#grijs {
    background: #99258d;
    color: white;
}

#filterKnop {
    display: flex;
    align-content: flex-end;
    border-radius: 0.1em;
    background-color: #99258d;
    color: white;
}

@media (min-width: 650px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    form {
        background: #FAFAFA;
        color: black;
        font-size: 1em;
        width: 70%;
        margin: 0;
    }
}

@media (min-width: 940px) {
    nav {
        border-radius: 4px;
        width: 940px;
        margin: auto;
        position: relative;
        height: 100%;
    }

    #logo {
        display: block;
    }

    body {
        border: solid 8px #99258d;
        align-content: center;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: .5em;
    }

    form {
        background: #FAFAFA;
        color: black;
        font-size: 1em;
        width: 70%;
        margin: 0;
    }

    nav ul {
        display: flex;
        border-bottom: solid 1px #a6c4c4;
    }

    nav ul li {
        text-align: center;
        padding: 15px;
        color: #99258d;
    }

    header {
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    #hamburger {
        display: none;
    }
}

@media (min-width: 1200px) {
    nav {
        border-radius: 4px;
        width: 1138px;
        margin: auto;
    }

    main {
        max-width: 1128px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: .5em;
    }

    section {
        max-width: 1128px;
        margin: auto;
    }
